<!DOCTYPE "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Google Charts Example - Spring Boot</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<div align="center" style="width: 1000px;">
    <h1>Sorting Visualizer</h1>
    <div id="chart_div"></div>
    <button type="button" class="btn btn-primary" onclick="drawColumnChart()">Next Step</button>
</div>
<script th:inline="javascript">
        var algorithm_name = /*[[${algorithm}]]*/'noValue';
        var algorithm_step = /*[[${step}]]*/'noValue';
        var algorithm_steps = /*[[${steps}]]*/'noValue';
        console.log (algorithm_steps);
        $(document).ready(function() {
            google.charts.load('current', {
                packages : [ 'corechart', 'bar' ]
            });
            google.charts.setOnLoadCallback(drawColumnChart);
        });
        function drawColumnChart() {
            var current_step = algorithm_steps[algorithm_step];
            console.log ("Drawing Chart");
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Position');
            data.addColumn('number', 'Value');
            Object.keys(current_step).forEach(function(key) {
                data.addRow([ key, current_step[key] ]);
            });
            var options = {
                title : algorithm_name,
                hAxis : {
                    title : 'Position',
                },
                vAxis : {
                    title : 'Value Range'
                }
            };
            var chart = new google.visualization.ColumnChart(document
                    .getElementById('chart_div'));
            chart.draw(data, options);
            if (algorithm_step < algorithm_steps.length - 1) {
                algorithm_step++;
            }else
            {
                alert ("No more steps");
            }

        }
    </script>
</body>
</html>